NODE_ENV=development
PORT=3000

# Thirdweb API keys
THIRDWEB_NEBULA_CHAT_SECRET_KEY=secret_key
THIRDWEB_NEBULA_CHAT_ENDPOINT=https://someurl.com

# Alchemy
ALCHEMY_API_KEY=secret_key

# RPCs
RPC_URL_ARB_SEPOLIA=https://someurl.com
RPC_URL_SEPOLIA_TESTNET=https://someurl.com
RPC_URL_MANTLE_SEPOLIA=https://someurl.com

# Deployer
DEPLOYER_MNEMONIC=some words here
DEPLOYER_ADDRESS=0xsomthing

# DB connection
DB_CONNECTION_STRING=postgresql://postgres:postgres@localhost:5432/al-toke-token

# PG Admin
PG_ADMIN_EMAIL=admin@admin.com
PG_ADMIN_PASSWORD=pgadmin4
